<div class="messages">
    <p>
        Source code on
        <a href="https://github.com/hmomin/winter-run" target="_blank">
            Github
        </a>
    </p>
</div>
<div class="button-container">
    <button class="play-button" routerLink="/play" routerLinkActive="active">
        play
    </button>
    <button class="train-button" routerLink="/train" routerLinkActive="active">
        train
    </button>
</div>
<div id="winter-run-game"></div>
<div class="bottom-margin"></div>
<router-outlet></router-outlet>
